[user]
	email = ethan.twardy@gmail.com
	name = Ethan D. Twardy
	signingkey = 0FF164523340E827
[core]
	editor = /usr/bin/vi
	autocrlf = false
[init]
	defaultBranch = main
[pull]
	rebase = false
[grep]
	lineNumber = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[sendemail]
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
	smtpEncryption = tls
	smtpUser = ethan.twardy@gmail.com
